.button{
    background-color: var(--green-main);
    color: var(--text-main);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.button:hover{
   box-shadow: 0px 0px 10px 0px var(--green-light);
   transition: 0.3s;
}

