:root {
  /* Cores principais */
  --black-main: #0D0D0D;
  --black-secondary: #1A1A1A;

  --green-main: #16bc00;
  --green-dark: #007202;
  --green-light: #00fa25;

  /* Texto */
  --text-main: #FFFFFF;
  --text-secondary: #BFBFBF;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}